body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 20px;
}

p, ul, h1, h2, h3 {
  margin: 0
}

ul {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.header {
  color: #363232;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px 45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

.title {
  font-size: 46px;
  margin-bottom: 5px;
  font-weight: 500;
}

.last-updated {
  color: #A99F9F;
  font-weight: 600;
}

.price {
  font-size: 60px;
  font-weight: 500;
}

.change {
  font-size: 25px;
  font-weight: 600;
  font-weight: 600;
}

.right-container {
  position: relative;
  padding: 0 50px 20px 35px;
}

.change-abolute {
  position: absolute;
  left: 0;
  bottom: 0;
}

.change-percent {
  position: absolute;
  right: 0;
  bottom: 0;
}

.triangle-icon {
  font-size: 25px;
  position: absolute;
  left:0;
  top: 20%;
}

.reverse {
  transform: rotate(180deg);
}

.tabs-list {
  border-bottom: #D5D5D5 solid 2px;
}

.tab-item {
  padding: 20px 50px;
  font-size: 25px;
  font-weight: 700;
  color: #A99F9F;
  cursor: pointer;
}

.active-tab {
  color:#35629a;
  border-bottom: #35629a solid 2px;
}

.red {
  color: red;
}

.green {
  color: #457521;
}

.timeframe-item {
  padding: 20px 20px;
  font-size: 20px;
  cursor: pointer;
  color:  #363232;
}

.timeframe-item--active {
  border-bottom: #363232 solid 1px;
}

.no-data {
  margin-top: 50px;
  margin-left: 25px;
}

.tab-component {
  padding-top: 20px;
}

#history-table {
  color: #363232;
  width: 100%;
  font-weight: 600;
  border: 1px solid rgb(195, 193, 193);
  border-collapse: collapse;
}

#history-table th {
  padding: 9px 10px;
  text-align: left;
  background-color: #d8d8d861;
  border-bottom: 1px solid rgb(195, 193, 193);
}


#history-table td {
 padding: 13px 10px;
 border-bottom: 1px solid rgb(195, 193, 193);
}


.clickable {
  cursor: pointer;
}

.grey {
  color: rgb(216, 213, 220);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.col-label {
  margin-right: 10px;
  margin-top: 4px;
}